.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

body {
  background: url("/assets/food_fruit.jpg") no-repeat;
  background-size: contain; }

#hero {
  background: url("/assets/food_fruit.jpg") no-repeat;
  background-size: contain; }

#join-container {
  background: url("/assets/avocado-1.jpg") no-repeat;
  background-size: cover; }

.affix {
  top: 0;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #F44336;
  border-color: #F44336; }

.affix a {
  color: #fff !important;
  padding: 15px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.affix + .container {
  padding-top: 95px; }

.navbar {
  width: 100%;
  background: none !important; }
  @media (max-width: 34em) {
    .navbar {
      background: #2c3e50 !important; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
    @media (max-width: 50em) {
      .navbar .navbar-toggler {
        font-weight: normal;
        color: #fff !important; } }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    .navbar .nav-item .nav-link:hover {
      color: #4C1130; }
    .navbar .nav-item .nav-link {
      color: #ff5722; }
      @media (max-width: 34em) {
        .navbar .nav-item .nav-link {
          font-weight: normal;
          color: #fff !important; } }

.container1 {
  margin-left: 7%; }
  @media (max-width: 34em) {
    .container1 {
      text-align: center; } }

#textbox {
  color: #4C1130; }
  @media (max-width: 34 em) {
    #textbox {
      margin-top: 0; } }

.btn {
  color: #4C1130;
  font-weight: bold;
  background-color: #DB7424; }

#textbox, #emailbox {
  font-weight: bold; }

.cat, .pri, .con {
  font-weight: bold;
  font-size: 15px;
  color: #4C1130; }
  @media (max-width: 34 em) {
    .cat, .pri, .con {
      text-align: center; } }

.detail1 {
  color: #4C1130;
  text-Shadow: 2px 5px 5px white; }
